# .coveragerc to control coverage.py
[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    metadata_backend/helpers/logger.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    # def __repr__
    if self\.debug

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if not args:
    LOG.*


ignore_errors = True
