stages:
  - verify
  - test
  - deploy
  - release

include:
  - project: "sds-dev/releases"
    ref: main
    file: "releases.yml"

variables:
  BUILD_IMAGE: $ARTIFACTORY_SERVER/sds/sdd-common-ci

# Make all jobs interruptible by default
default:
  interruptible: true

verify:
  stage: verify
  tags:
    - docker-exec
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image: $BUILD_IMAGE
  script:
    # Install uv to /uv and tox uv tool called by pre-commit to /root/.local/bin.
    - curl -LsSf https://astral.sh/uv/install.sh | env UV_INSTALL_DIR="/uv" sh
    - export PATH="/uv:/root/.local/bin:$PATH"
    - uv tool install tox --with tox-uv
    - SKIP=test uv tool run pre-commit run --all-files -c .pre-commit-config.yaml --show-diff-on-failure --color never

unit-test:
  stage: test
  tags:
    - docker-exec
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image: $BUILD_IMAGE
  script:
    # Install uv to /uv and tox uv tool called by pre-commit to /root/.local/bin.
    - curl -LsSf https://astral.sh/uv/install.sh | env UV_INSTALL_DIR="/uv" sh
    - export PATH="/uv:/root/.local/bin:$PATH"
    - uv tool install tox --with tox-uv
    - uv tool run pre-commit run test --all-files -c .pre-commit-config.yaml --show-diff-on-failure --color never
    - uv tool run coverage report --precision=1
  coverage: '/TOTAL.*?([\d.]+%)/'

integration-test:
  stage: test
  tags:
    - sds
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image: $BUILD_IMAGE
  variables:
    COMPOSE_PROJECT_NAME: $CI_JOB_ID
    VAULT_ADDR: $VAULT_TEST_ADDR
    VAULT_ROLE_ID: $VAULT_ROLE_ID
    VAULT_SECRET_ID: $VAULT_SECRET_ID
  script:
    # Get secrets from Vault for testing
    - make get_ci_env
    - rm -f docker-compose.override.yml
    # Start containerized services on the CI runner and wait until they are healthy
    - docker compose -f docker-compose.yml --env-file tests/integration/.env --profile ci up --build -d --wait
    # List statuses of the containers of the current CI job
    - docker compose -f docker-compose.yml --env-file tests/integration/.env --profile ci ps
    # Run integration tests inside the sd-submit-api container
    - docker compose --env-file tests/integration/.env --profile ci exec sd-submit-api-csc pytest tests/integration || export TEST_FAILED=1
  after_script:
    - |
      if [ "$TEST_FAILED" = "1" ]; then
        echo "Tests failed, printing all docker-compose logs:"
        docker compose --env-file tests/integration/.env --profile ci logs
      fi
    # Shut down containers after the tests finish.
    - docker compose --profile ci down -v

# Docker image build, scan and push pipeline
1-build-image:
  stage: deploy
  tags:
    - sds
  needs: []
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
      allow_failure: true
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Building image sd-submit-api:${IMAGE_TAG}"
    - docker buildx build -t "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}" -f dockerfiles/Dockerfile .

2-scan-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 1-build-image
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  script:
    - jf config import "${JF_CONFIG}"
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - jf docker scan --licenses --extended-table --min-severity=Medium $ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}

3-push-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 2-scan-image
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  before_script:
    - echo "$ARTIFACTORY_USER_PASSWORD" | sudo docker login --username "$ARTIFACTORY_USER" --password-stdin "$ARTIFACTORY_SERVER"
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Pushing image sd-submit-api:${IMAGE_TAG}"
    - docker push "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}"
  after_script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - docker rmi "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}" || true

release-job:
  extends: .automated-release
  release:
    description: $(cat release_changes.md)

# This is a manual dry-run for developers to run in the merge request
update-versions-dryrun:
  extends: .update-versions-dryrun
  variables:
    UPDATE_VERSION_FILES_LIST: "docs/conf.py;docs/openapi.yml;metadata_backend/__init__.py"

# This job updates the versions
update-versions:
  extends: .update-versions
  variables:
    UPDATE_VERSION_FILES_LIST: "docs/conf.py;docs/openapi.yml;metadata_backend/__init__.py"
