stages:
  - verify
  - test
  - deploy
  - release

include:
  - project: "sds-dev/releases"
    ref: main
    file: "releases.yml"

variables:
  BUILD_IMAGE: $ARTIFACTORY_SERVER/sds/sdd-common-ci

# Make all jobs interruptible by default
default:
  interruptible: true

# verify:
#   stage: verify
#   tags:
#     - docker-exec
#   rules:
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#   image: $BUILD_IMAGE
#   script:
#     # Install uv to /uv and tox uv tool called by pre-commit to /root/.local/bin.
#     - curl -LsSf https://astral.sh/uv/install.sh | env UV_INSTALL_DIR="/uv" sh
#     - export PATH="/uv:/root/.local/bin:$PATH"
#     - uv tool install tox --with tox-uv
#     - SKIP=test uv tool run pre-commit run --all-files -c .pre-commit-config.yaml --show-diff-on-failure --color never

unit-test:
  stage: test
  tags:
    - docker-exec
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image: $BUILD_IMAGE
  script:
    # Install uv to /uv and tox uv tool called by pre-commit to /root/.local/bin.
    - curl -LsSf https://astral.sh/uv/install.sh | env UV_INSTALL_DIR="/uv" sh
    - export PATH="/uv:/root/.local/bin:$PATH"
    - uv tool install tox --with tox-uv
    - uv tool run pre-commit run test --all-files -c .pre-commit-config.yaml --show-diff-on-failure --color never
    - uv tool run coverage report --precision=1
  coverage: '/TOTAL.*\s+(\d+\%)/'

mock-integration-test:
  stage: test
  tags:
    - sds
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  image: $BUILD_IMAGE
  variables:
    COMPOSE_PROJECT_NAME: "${CI_JOB_ID}"
  script:
    - docker compose -f docker-compose.yml --env-file .env.example up --build -d
    - sleep 30
    - docker compose -f docker-compose.yml --env-file .env.example ps
    - docker compose exec sd-submit-api pytest tests/integration
  after_script:
    - docker compose down -v

# Docker image build, scan and push pipeline
1-build-image:
  stage: deploy
  tags:
    - sds
  needs: []
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
      allow_failure: true
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Building image sd-submit-api:${IMAGE_TAG}"
    - docker buildx build -t "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}" -f dockerfiles/Dockerfile .

2-scan-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 1-build-image
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  script:
    - jf config import "${JF_CONFIG}"
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - jf docker scan --licenses --extended-table --min-severity=Medium $ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}

3-push-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 2-scan-image
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  before_script:
    - echo "$ARTIFACTORY_USER_PASSWORD" | sudo docker login --username "$ARTIFACTORY_USER" --password-stdin "$ARTIFACTORY_SERVER"
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Pushing image sd-submit-api:${IMAGE_TAG}"
    - docker push "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}"
  after_script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - docker rmi "$ARTIFACTORY_SERVER/sds/sd-submit-api:${IMAGE_TAG}" || true

release-job:
  extends: .automated-release
  release:
    description: $(cat release_changes.md)

# This is a manual dry-run for developers to run in the merge request
update-versions-dryrun:
  extends: .update-versions-dryrun
  variables:
    UPDATE_VERSION_FILES_LIST: "docs/conf.py;docs/openapi.yml;metadata_backend/__init__.py"

# This job updates the versions
update-versions:
  extends: .update-versions
  variables:
    UPDATE_VERSION_FILES_LIST: "docs/conf.py;docs/openapi.yml;metadata_backend/__init__.py"

# TODO: implement integration tests (from GitHub)

# name: Integration Tests
# on: [push]
# jobs:
#   build:
#     strategy:
#       max-parallel: 4
#       matrix:
#         os: [ubuntu-latest]
#         python-version: ["3.12"]
#     runs-on: ${{ matrix.os }}
#     name: Integration Tests
#     steps:
#       - uses: actions/checkout@v4
#       - name: Set up Python ${{ matrix.python-version }}
#         uses: actions/setup-python@v5
#         with:
#           python-version: ${{ matrix.python-version }}
#       - name: Install requirements
#         run: |
#           pip install uv
#           uv sync --dev
#       - name: Start Services
#         run: |
#           docker compose --env-file .env.example up -d --build
#           sleep 45
#       - name: Run Integration test
#         run: |
#           uv run pytest tests/integration
#         env:
#           BASE_URL: http://localhost:5430
#           OIDC_URL: http://localhost:8000
#       - name: Collect logs from docker
#         if: ${{ failure() }}
#         run: docker compose logs --no-color -t > tests/dockerlogs || true
#       - name: Persist log files
#         if: ${{ failure() }}
#         uses: actions/upload-artifact@v4
#         with:
#           name: test_debugging_help
#           path: tests
#       - name: Shut down services and remove volumes
#         run: |
#           docker compose down -v
#           sleep 30
#       - name: Create TLS keys and certificates
#         run: uv run ./scripts/tls/tls_helper.sh
#       - name: Start services with TLS enabled
#         run: |
#           docker compose -f docker-compose-tls.yml --env-file .env.example up -d
#           sleep 45
#       - name: Run Integration test
#         run: |
#           uv run pytest tests/integration
#         env:
#           BASE_URL: http://localhost:5430
#           OIDC_URL: http://localhost:8000
#       - name: Collect logs from docker
#         if: ${{ failure() }}
#         run: docker compose logs --no-color -t > tests/dockerlogs || true
#       - name: Persist log files
#         if: ${{ failure() }}
#         uses: actions/upload-artifact@v4
#         with:
#           name: test_debugging_help_tls
#           path: tests
