services:
  sd-submit-api-csc:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: test
    image: cscfi/metadata-submitter-dev
    profiles:
      - ci
      - ci_ui
      - dev
    command: [ "uv", "run", "metadata_submitter" ]
    depends_on:
      postgres-csc:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:5430/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - "DEPLOYMENT=CSC"
      - "OIDC_CLIENT_SECRET=${SDS_AAI_CLIENT_SECRET:-${OIDC_CLIENT_SECRET:?OIDC_CLIENT_SECRET must be defined}}"
      - "OIDC_CLIENT_ID=${SDS_AAI_CLIENT_ID:-${OIDC_CLIENT_ID:?OIDC_CLIENT_ID must be defined}}"
      - "OIDC_URL=${SDS_AAI_URL:-${OIDC_URL:?OIDC_URL must be defined}}"
      - "BASE_URL=http://sd-submit-api-csc:5430"
      - "OIDC_REDIRECT_URL=${OIDC_REDIRECT_URL}"
      - "OIDC_SECURE_COOKIE=${OIDC_SECURE_COOKIE}"
      - "OIDC_VERIFY_ID_TOKEN=False"
      - "OIDC_DPOP=True"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "CSC_PID_URL=${CSC_PID_URL:?CSC_PID_URL must be defined}"
      - "CSC_PID_KEY=${CSC_PID_KEY:?CSC_PID_KEY must be defined}"
      - "METAX_URL=${METAX_URL:?METAX_URL must be defined}"
      - "METAX_TOKEN=${METAX_TOKEN:?METAX_TOKEN must be defined}"
      - "ROR_URL=${ROR_URL:?ROR_URL must be defined}"
      - "REMS_USER=${REMS_USER}"
      - "REMS_KEY=${REMS_KEY}"
      - "REMS_URL=${REMS_URL}"
      - "REMS_DISCOVERY_URL=${REMS_DISCOVERY_URL}"
      - "CSC_LDAP_HOST=${CSC_LDAP_HOST}"
      - "CSC_LDAP_USER=${CSC_LDAP_USER}"
      - "CSC_LDAP_PASSWORD=${CSC_LDAP_PASSWORD}"
      - "JWT_SECRET=${JWT_SECRET}"
      - "DATABASE_URL=${CSC_DATABASE_URL}"
      - "STATIC_S3_ACCESS_KEY_ID=${STATIC_S3_ACCESS_KEY_ID}"
      - "STATIC_S3_SECRET_ACCESS_KEY=${STATIC_S3_SECRET_ACCESS_KEY}"
      - "SD_SUBMIT_PROJECT_ID=${SD_SUBMIT_PROJECT_ID}"
      - "S3_REGION=${S3_REGION}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
      - "ALLOW_UNSAFE=${ALLOW_UNSAFE}"
  sd-submit-api-nbis:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: test
    image: cscfi/metadata-submitter-dev
    profiles:
      - ci
      - dev
      - demo
    command: [ "uv", "run", "metadata_submitter" ]
    depends_on:
      postgres-nbis:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:5431/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - "DEPLOYMENT=NBIS"
      - "OIDC_CLIENT_SECRET=${LS_AAI_CLIENT_SECRET:-${OIDC_CLIENT_SECRET:?OIDC_CLIENT_SECRET must be defined}}"
      - "OIDC_CLIENT_ID=${LS_AAI_CLIENT_ID:-${OIDC_CLIENT_ID:?OIDC_CLIENT_ID must be defined}}"
      - "OIDC_URL=${LS_AAI_URL:-${OIDC_URL:?OIDC_URL must be defined}}"
      - "BASE_URL=http://sd-submit-api-nbis:5431"
      - "OIDC_REDIRECT_URL=${OIDC_REDIRECT_URL}"
      - "OIDC_SECURE_COOKIE=${OIDC_SECURE_COOKIE}"
      - "OIDC_DPOP=False"
      - "OIDC_VERIFY_ID_TOKEN=False"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "DATACITE_API=${DATACITE_API:?DATACITE_API must be defined}"
      - "DATACITE_USER=${DATACITE_USER:?DATACITE_USER must be defined}"
      - "DATACITE_KEY=${DATACITE_KEY:?DATACITE_KEY must be defined}"
      - "DATACITE_DOI_PREFIX=${DATACITE_DOI_PREFIX:?DATACITE_DOI_PREFIX must be defined}"
      - "REMS_USER=${REMS_USER}"
      - "REMS_KEY=${REMS_KEY}"
      - "REMS_URL=${REMS_URL}"
      - "REMS_DISCOVERY_URL=${REMS_DISCOVERY_URL}"
      - "JWT_SECRET=${JWT_SECRET}"
      - "DATABASE_URL=${NBIS_DATABASE_URL}"
      - "BP_CENTER_ID=${BP_CENTER_ID}"
      - "STATIC_S3_ACCESS_KEY_ID=${STATIC_S3_ACCESS_KEY_ID}"
      - "STATIC_S3_SECRET_ACCESS_KEY=${STATIC_S3_SECRET_ACCESS_KEY}"
      - "SD_SUBMIT_PROJECT_ID=${SD_SUBMIT_PROJECT_ID}"
      - "S3_REGION=${S3_REGION}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "ADMIN_URL=${ADMIN_URL}"
      - "ALLOW_UNSAFE=${ALLOW_UNSAFE}"
  mock-oauth2:
    image: ghcr.io/navikt/mock-oauth2-server:latest
    environment:
      JSON_CONFIG_PATH: /config/mock-auth.json
      PORT: 8001
    profiles:
      - ci
      - ci_ui
      - dev
      - demo
    volumes:
      - ./tests/integration/mock-auth.json:/config/mock-auth.json:ro
  mockauth:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: base
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
    hostname: mockauth
    profiles:
      - ci
      - ci_ui
      - dev
      - demo
    depends_on:
      mock-oauth2:
        condition: service_started
      mockkeystone:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:8000/.well-known/openid-configuration || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./tests/integration/mock_auth.py:/mock_auth.py
    entrypoint: [ "uv", "run", "/mock_auth.py" ]
  mockadmin:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: base
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL=${OIDC_URL}"
    hostname: mockadmin
    profiles:
      - ci
      - dev
    healthcheck:
      test: curl --fail http://127.0.0.1:8004/ready || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./tests/integration/mock_admin_api.py:/mock_admin_api.py
    entrypoint: [ "python", "/mock_admin_api.py", "0.0.0.0", "8004" ]
    depends_on:
      mockauth:
        condition: service_started
  mockldap:
    build:
      dockerfile: ./dockerfiles/Dockerfile-ldap-dev
      context: .
    image: cscfi/mockldap
    hostname: mockldap
    profiles:
      - ci
      - ci_ui
      - dev
  mockkeystone:
    image: ghcr.io/cscfi/docker-keystone-swift:latest
    hostname: mockkeystone
    profiles:
      - ci
      - ci_ui
      - dev
      - demo
    healthcheck:
      test: curl --fail http://127.0.0.1:5001/ || exit 1
      interval: 20s
      timeout: 20s
      retries: 5
      start_period: 20s
  postgres-csc:
    image: postgres:18-alpine
    hostname: postgres-csc
    profiles:
      - ci
      - ci_ui
      - dev
    environment:
      - POSTGRES_DB=metadata_submitter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - /var/lib/postgresql/data
  postgres-nbis:
    image: postgres:18-alpine
    hostname: postgres-nbis
    profiles:
      - ci
      - dev
      - demo
    environment:
      - POSTGRES_DB=metadata_submitter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - /var/lib/postgresql/data
  integration-test-runner:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: test
    image: cscfi/metadata-submitter-dev
    profiles:
      - ci
    environment:
      - "CICD=true"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL=${OIDC_URL}"
      - "BASE_URL=http://sd-submit-api-csc:5430"
      - "NBIS_BASE_URL=http://sd-submit-api-nbis:5431"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
    command: "pytest tests/integration"
    depends_on:
      sd-submit-api-csc:
        condition: service_healthy
      sd-submit-api-nbis:
        condition: service_healthy
      mockauth:
        condition: service_healthy
      mockadmin:
        condition: service_healthy
      mockldap:
        condition: service_started
