services:
  sd-submit-api-csc:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    restart: on-failure
    profiles:
      - ci
      - dev
    command: ["uv", "run", "metadata_submitter"]
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:5430/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - "OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}"
      - "OIDC_CLIENT_ID=${OIDC_CLIENT_ID}"
      - "OIDC_URL=${OIDC_URL}"
      - "OIDC_URL_TEST=${OIDC_URL_TEST}"
      - "OIDC_SECURE_COOKIE=${OIDC_SECURE_COOKIE}"
      - "BASE_URL=${BASE_URL}"
      - "REDIRECT_URL=${REDIRECT_URL}"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "DATACITE_API=${DATACITE_API:?DATACITE_API must be defined}"
      - "DATACITE_USER=${DATACITE_USER:?DATACITE_USER must be defined}"
      - "DATACITE_KEY=${DATACITE_KEY:?DATACITE_KEY must be defined}"
      - "DATACITE_DOI_PREFIX=${DATACITE_DOI_PREFIX:?DATACITE_DOI_PREFIX must be defined}"
      - "CSC_PID_URL=${CSC_PID_URL:?CSC_PID_URL must be defined}"
      - "CSC_PID_KEY=${CSC_PID_KEY:?CSC_PID_KEY must be defined}"
      - "METAX_URL=${METAX_URL:?METAX_URL must be defined}"
      - "METAX_TOKEN=${METAX_TOKEN:?METAX_TOKEN must be defined}"
      - "ROR_URL=${ROR_URL:?ROR_URL must be defined}"
      - "REMS_USER=${REMS_USER}"
      - "REMS_KEY=${REMS_KEY}"
      - "REMS_URL=${REMS_URL}"
      - "REMS_DISCOVERY_URL=${REMS_DISCOVERY_URL}"
      - "CSC_LDAP_HOST=${CSC_LDAP_HOST}"
      - "CSC_LDAP_USER=${CSC_LDAP_USER}"
      - "CSC_LDAP_PASSWORD=${CSC_LDAP_PASSWORD}"
      - "JWT_SECRET=${JWT_SECRET}"
      - "DATABASE_URL=${DATABASE_URL}"
      - "BP_CENTER_ID=${BP_CENTER_ID}"
      - "STATIC_S3_ACCESS_KEY_ID=${STATIC_S3_ACCESS_KEY_ID}"
      - "STATIC_S3_SECRET_ACCESS_KEY=${STATIC_S3_SECRET_ACCESS_KEY}"
      - "SD_SUBMIT_PROJECT_ID=${SD_SUBMIT_PROJECT_ID}"
      - "S3_REGION=${S3_REGION}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
      - "ADMIN_URL=${ADMIN_URL}"
      - "DEPLOYMENT=CSC"
      - "ALLOW_UNSAFE=${ALLOW_UNSAFE}"
      - "ALLOW_REGISTRATION=False"
  sd-submit-api-nbis:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    restart: on-failure
    profiles:
      - ci
      - dev
      - demo
    command: ["uv", "run", "metadata_submitter"]
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:5431/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    environment:
      - "BASE_URL=http://localhost:5431"
      - "OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}"
      - "OIDC_CLIENT_ID=${OIDC_CLIENT_ID}"
      - "OIDC_URL=${OIDC_URL}"
      - "OIDC_URL_TEST=${OIDC_URL_TEST}"
      - "OIDC_SECURE_COOKIE=${OIDC_SECURE_COOKIE}"
      - "REDIRECT_URL=${REDIRECT_URL}"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "DATACITE_API=${DATACITE_API:?DATACITE_API must be defined}"
      - "DATACITE_USER=${DATACITE_USER:?DATACITE_USER must be defined}"
      - "DATACITE_KEY=${DATACITE_KEY:?DATACITE_KEY must be defined}"
      - "DATACITE_DOI_PREFIX=${DATACITE_DOI_PREFIX:?DATACITE_DOI_PREFIX must be defined}"
      - "CSC_PID_URL=${CSC_PID_URL:?CSC_PID_URL must be defined}"
      - "CSC_PID_KEY=${CSC_PID_KEY:?CSC_PID_KEY must be defined}"
      - "METAX_URL=${METAX_URL:?METAX_URL must be defined}"
      - "METAX_TOKEN=${METAX_TOKEN:?METAX_TOKEN must be defined}"
      - "ROR_URL=${ROR_URL:?ROR_URL must be defined}"
      - "REMS_USER=${REMS_USER}"
      - "REMS_KEY=${REMS_KEY}"
      - "REMS_URL=${REMS_URL}"
      - "REMS_DISCOVERY_URL=${REMS_DISCOVERY_URL}"
      - "CSC_LDAP_HOST=${CSC_LDAP_HOST}"
      - "CSC_LDAP_USER=${CSC_LDAP_USER}"
      - "CSC_LDAP_PASSWORD=${CSC_LDAP_PASSWORD}"
      - "JWT_SECRET=${JWT_SECRET}"
      - "DATABASE_URL=${DATABASE_URL}"
      - "BP_CENTER_ID=${BP_CENTER_ID}"
      - "STATIC_S3_ACCESS_KEY_ID=${STATIC_S3_ACCESS_KEY_ID}"
      - "STATIC_S3_SECRET_ACCESS_KEY=${STATIC_S3_SECRET_ACCESS_KEY}"
      - "SD_SUBMIT_PROJECT_ID=${SD_SUBMIT_PROJECT_ID}"
      - "S3_REGION=${S3_REGION}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
      - "ADMIN_URL=${ADMIN_URL}"
      - "DEPLOYMENT=NBIS"
      - "ALLOW_UNSAFE=${ALLOW_UNSAFE}"
      - "ALLOW_REGISTRATION=False"
  mockauth:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: appbase
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL=${OIDC_URL}"
      - "OIDC_URL_TEST=${OIDC_URL}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
    hostname: mockauth
    profiles:
      - ci
      - dev
      - demo
    depends_on:
      mockkeystone:
        condition: service_healthy
    healthcheck:
      test: curl --fail http://127.0.0.1:8000/.well-known/openid-configuration || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./tests/integration/mock_auth.py:/mock_auth.py
    entrypoint: [ "python", "/mock_auth.py", "0.0.0.0", "8000" ]
  mockadmin:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: appbase
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL=${OIDC_URL}"
    hostname: mockadmin
    profiles:
      - ci
      - dev
    healthcheck:
      test: curl --fail http://127.0.0.1:8004/ready || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - ./tests/integration/mock_admin_api.py:/mock_admin_api.py
    entrypoint: [ "python", "/mock_admin_api.py", "0.0.0.0", "8004" ]
    depends_on:
      mockauth:
        condition: service_started
  mockldap:
    build:
      dockerfile: ./dockerfiles/Dockerfile-ldap-dev
      context: .
    image: cscfi/mockldap
    hostname: mockldap
    profiles:
      - ci
      - dev
  mockkeystone:
    image: ghcr.io/cscfi/docker-keystone-swift:latest
    hostname: mockkeystone
    profiles:
      - ci
      - dev
      - demo
    healthcheck:
      test: curl --fail http://127.0.0.1:5001/ || exit 1
      interval: 20s
      timeout: 20s
      retries: 5
      start_period: 20s
  postgres:
    image: postgres:18-alpine
    hostname: postgres
    profiles:
      - ci
      - dev
      - demo
    environment:
      - POSTGRES_DB=metadata_submitter
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  data:
  pgdata:
