services:
  backend:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    container_name: "metadata-submitter-backend-dev"
    ports:
      - "5430:5430"
    restart: on-failure
    environment:
      - "AAI_CLIENT_SECRET=${AAI_CLIENT_SECRET}"
      - "AAI_CLIENT_ID=${AAI_CLIENT_ID}"
      - "OIDC_URL=${OIDC_URL}"
      - "OIDC_URL_TEST=${OIDC_URL_TEST}"
      - "OIDC_SECURE_COOKIE=${OIDC_SECURE_COOKIE}"
      - "BASE_URL=${BASE_URL}"
      - "REDIRECT_URL=${REDIRECT_URL}"
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "DATACITE_API=${DATACITE_API:?DATACITE_API must be defined}"
      - "DATACITE_USER=${DATACITE_USER:?DATACITE_USER must be defined}"
      - "DATACITE_KEY=${DATACITE_KEY:?DATACITE_KEY must be defined}"
      - "DATACITE_DOI_PREFIX=${DATACITE_DOI_PREFIX:?DATACITE_DOI_PREFIX must be defined}"
      - "CSC_PID_URL=${CSC_PID_URL:?CSC_PID_URL must be defined}"
      - "CSC_PID_KEY=${CSC_PID_KEY:?CSC_PID_KEY must be defined}"
      - "METAX_DISCOVERY_URL=${METAX_DISCOVERY_URL}"
      - "BEACON_DISCOVERY_URL=${BEACON_DISCOVERY_URL}"
      - "METAX_USER=${METAX_USER}"
      - "METAX_PASS=${METAX_PASS}"
      - "METAX_URL=${METAX_URL}"
      - "REMS_USER_ID=${REMS_USER_ID}"
      - "REMS_KEY=${REMS_KEY}"
      - "REMS_URL=${REMS_URL}"
      - "CSC_LDAP_HOST=${CSC_LDAP_HOST}"
      - "CSC_LDAP_USER=${CSC_LDAP_USER}"
      - "CSC_LDAP_PASSWORD=${CSC_LDAP_PASSWORD}"
      - "JWT_SECRET=${JWT_SECRET}"
      - "PG_DATABASE_URL=${PG_DATABASE_URL}"
      - "BP_CENTER_ID=${BP_CENTER_ID}"
      - "POLLING_INTERVAL=${POLLING_INTERVAL}"
      - "STATIC_S3_ACCESS_KEY_ID=${STATIC_S3_ACCESS_KEY_ID}"
      - "STATIC_S3_SECRET_ACCESS_KEY=${STATIC_S3_SECRET_ACCESS_KEY}"
      - "SD_SUBMIT_PROJECT_ID=${SD_SUBMIT_PROJECT_ID}"
      - "S3_REGION=${S3_REGION}"
      - "S3_ENDPOINT=${S3_ENDPOINT}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
      - "ALLOW_UNSAFE=${ALLOW_UNSAFE}"
      - "ALLOW_REGISTRATION=False"
  mockauth:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL=${OIDC_URL}"
      - "OIDC_URL_TEST=${OIDC_URL_TEST}"
      - "KEYSTONE_ENDPOINT=${KEYSTONE_ENDPOINT}"
    hostname: mockauth
    expose:
      - 8000
    ports:
      - "8000:8000"
    depends_on:
      mockkeystone:
        condition: service_healthy
    volumes:
      - ./tests/integration/mock_auth.py:/mock_auth.py
    entrypoint: [ "python", "/mock_auth.py", "0.0.0.0", "8000" ]
  mockmetax:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    hostname: mockmetax
    expose:
      - 8002
    ports:
      - "8002:8002"
    volumes:
      - ./tests/integration/mock_metax_api.py:/mock_metax_api.py
    entrypoint: [ "python", "/mock_metax_api.py", "0.0.0.0", "8002" ]
  mockrems:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    hostname: mockrems
    expose:
      - 8003
    ports:
      - "8003:8003"
    volumes:
      - ./tests/integration/mock_rems_api.py:/mock_rems_api.py
    entrypoint: [ "python", "/mock_rems_api.py", "0.0.0.0", "8003" ]
  mockadmin:
    build:
      dockerfile: ./dockerfiles/Dockerfile-dev
      context: .
      target: develop
    image: cscfi/metadata-submitter-dev
    environment:
      - "LOG_LEVEL=${LOG_LEVEL}"
      - "OIDC_URL_TEST=${OIDC_URL}"
    hostname: mockadmin
    expose:
      - 8004
    ports:
      - "8004:8004"
    volumes:
      - ./tests/integration/mock_admin_api.py:/mock_admin_api.py
    entrypoint: [ "python", "/mock_admin_api.py", "0.0.0.0", "8004" ]
    depends_on:
      mockauth:
        condition: service_started
  mockldap:
    build:
      dockerfile: ./dockerfiles/Dockerfile-ldap-dev
      context: .
    image: cscfi/mockldap
    hostname: mockldap
    expose:
      - 389
    ports:
      - "389:389"
  mock-s3:
    image: motoserver/moto:latest
    hostname: s3mock
    ports:
      - "8006:8006"
    environment:
      - MOTO_PORT=8006
  mockkeystone:
    image: ghcr.io/cscfi/docker-keystone-swift:latest
    hostname: mockkeystone
    expose:
      - 5001
    healthcheck:
      test: curl --fail http://127.0.0.1:5001/ || exit 1
      interval: 20s
      timeout: 20s
      retries: 5
      start_period: 20s
volumes:
  data:
