BASE_URL=http://localhost:5430
JWT_SECRET=mock_secret
LOG_LEVEL=DEBUG
ALLOW_UNSAFE=TRUE

# Database test container.
#
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/metadata_submitter

# Keystone test container.
#
KEYSTONE_ENDPOINT=http://mockkeystone:5001

# LDAP test container.
#
CSC_LDAP_HOST=ldap://mockldap # set to ldap://localhost if running with honcho
CSC_LDAP_USER=cn=admin,dc=csc,dc=fi
CSC_LDAP_PASSWORD=admin

# Auth mock container.
#
OIDC_URL=http://mockauth:8000
OIDC_URL_TEST=http://localhost:8000
# Change OIDC_URL_TEST to http://mockauth:8000 if tests are run inside container.
REDIRECT_URL=http://localhost:3000
OIDC_CLIENT_ID=aud2
OIDC_CLIENT_SECRET=secret_must_be_long
OIDC_SECURE_COOKIE=FALSE
# OIDC_SECURE_COOKIE must be removed or set to TRUE in production.

# Admin mock container.
#
ADMIN_URL=http://mockadmin:8004

# BigPicture deployment.
#
BP_CENTER_ID=bb
